<div class="dashboard">

  <!-- HEADER -->
  <div class="kpi-header">

    <h1 class="page-title">Overview</h1>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="period-selector">
      <mat-select placeholder="Period" [(value)]="selectedPeriod" (selectionChange)="onPeriodChange()">
        <mat-option value="7">Last 7 Days</mat-option>
        <mat-option value="30">Last 30 Days</mat-option>
        <mat-option value="month">This Month</mat-option>
        <mat-option value="year">This Year</mat-option>
        <mat-option value="all">All Time</mat-option>
      </mat-select>
    </mat-form-field>

  </div>



  <!-- TOP SECTION -->
  <div class="overview-layout">

    <!-- KPI COLUMN -->
    <div class="kpi-column">

      <mat-card *ngFor="let kpi of kpis" class="kpi-card">
        <div class="kpi-icon-wrap">
          <mat-icon class="kpi-icon">{{ kpi.icon }}</mat-icon>
        </div>
        <div class="kpi-content">
          <h3>{{ kpi.title }}</h3>
        </div>
        <div class="kpi-content">
          <p>{{ kpi.value }}</p>
        </div>
      </mat-card>

    </div>

    <!-- DISTRIBUTION CHART -->
    <div class="chart-container">
      <app-exercise-distribution-chart></app-exercise-distribution-chart>
    </div>

  </div>

  <div>
    <app-workout-heatmap>

    </app-workout-heatmap>

  </div>

  <div class="flex-graphs">
    <!-- FULL WIDTH CHARTS -->

      <app-total-volume-chart>
      </app-total-volume-chart>


      <app-max-weight-chart>
      </app-max-weight-chart>

  </div>

</div>