.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.kpi-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.kpi-card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: #f5f7fa;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.kpi-icon {
  color: #3f51b5;
  font-size: 36px;
}

.kpi-content h3 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.kpi-content p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
}

/* Ensure flex children can shrink and grow correctly */
.chart-row {
  /* flex: 1 1 0;
  min-width: 0;        /* IMPORTANT: allows charts to shrink on sidenav expand */
  /* box-sizing: border-box;  */
              display: flex;
            justify-content: space-between;
}

/* Ensure all mat-cards inside charts also scale properly */
/* .chart-row mat-card,
app-total-volume-chart mat-card,
app-max-weight-chart mat-card {
  width: 100%;
  min-width: 0;
} */

/* In case any chart host element has fixed size */
/* .chart-row app-exercise-distribution-chart,
app-total-volume-chart,
app-max-weight-chart {
  display: block;
  width: 100%;
  min-width: 0;
} */
