.filter-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

h2{
  margin-left: 1.5rem;
}

:host {
  display: block;
  width: 100%;
  min-width: 0;     /* Critical fix */
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
}

