.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
    align-self: center;
}

:host {
  display: block;
  width: 100%;
  min-width: 0;     /* Critical fix */
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 400px;
}
