<div class="sidenav-body-container">
  <div class="sidenav-body">
    <div class="sidenav-title">
      <mat-icon>fitness_center</mat-icon>
      <span>Workout Diary</span>
    </div>

    <app-sidenav-link routerLink="/create-workout">
      <mat-icon icon>add_circle_outline</mat-icon>
      Create Workout
    </app-sidenav-link>

    <app-sidenav-link routerLink="/view-workouts">
      <mat-icon icon>format_list_bulleted</mat-icon>
      View Workouts
    </app-sidenav-link>

    <app-sidenav-link routerLink="/create-custom-exercise">
      <mat-icon icon>self_improvement</mat-icon>
      Create Custom Exercise
    </app-sidenav-link>

    <app-sidenav-link routerLink="/calendar">
      <mat-icon icon>calendar_month</mat-icon>
      Calendar
    </app-sidenav-link>

    <app-sidenav-link routerLink="/dashboard">
      <mat-icon icon>insights</mat-icon>
      Progress
    </app-sidenav-link>

    <app-sidenav-link routerLink="/exercise-recommendation">
      <mat-icon icon>lightbulb</mat-icon>
      Exercise Recommendation
    </app-sidenav-link>
  </div>

  <a class="user-section" routerLink="/profile" routerLinkActive="active">
    <div class="user-avatar" *ngIf="user">
      {{ user.firstName[0] }}{{ user.lastName[0] }}
    </div>
    <div class="user-info">
      <span class="user-name">{{ user?.firstName }} {{ user?.lastName }}</span>
      <span class="user-username">{{ user?.userName }}</span>
    </div>
  </a>
</div>

<button
  class="toggle-button"
  (click)="this.sidenavService.toggleSidenav()"
  [class.is-flipped]="sidenavService.isExpanded"
>
  <mat-icon icon>chevron_right</mat-icon>
</button>
