:root {
  --sidenav-width: 300px;
  --sidenav-collapsed-width: 56px;

  --variant2-50: #f1f9fe;
  --variant2-100: #e3f0fb;
  --variant2-200: #c0e2f7;
  --variant2-300: #88ccf1;
  --variant2-400: #3dade6;
  --variant2-500: #2199d6;
  --variant2-600: #137ab6;
  --variant2-700: #116193;
  --variant2-800: #12537a;
  --variant2-900: #144666;
  --variant2-950: #0e2c43;

  --dark-gray: #2f3746;
  --dark-gray-lighter: #404857;

  --light-gray: #f3f4f6;
  --light-gray-lighter: #e3e6e9;
}

body {
  margin: 0;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mat-mdc-card {
  background: #f5f7fa !important;

  border: 1px solid #e2e8f0;

  border-radius: 18px !important;

  box-shadow: none !important;
}