<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content [formGroup]="passwordForm" class="form-grid">
  <mat-form-field appearance="outline" style="margin-top: 0.5rem;">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" formControlName="currentPassword">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('mismatch')">
      Passwords do not match
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="changePassword()">Change</button>
</mat-dialog-actions>

